body{
    font-family: 'Recursive', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #9c1f4f, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo-primary{
    width: 10em;
    margin-top: 1.5em;
}

.header-flex{
    margin-top: -1em;
    display: flex;
    justify-content: space-around; 
}

.header-page{
    margin-bottom: -0.5em;
}

.ubication-flex{
    margin-top: 4em;
    color: white;
    display: flex;
}

ion-icon {
    font-size: 2em;
  }

  ion-icon {
    color: rgb(240, 240, 245);
  }

.ubication-text{
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
    margin-top: 1vh;
}

.logo-ubication{
    width: 1.2em;
    margin-right: 0.5em;
}

.nav{
    background-color: rgba(121, 78, 177, 0.3);
    font-family: 'Recursive', sans-serif;
    margin: 0px;

}

a{
    color: white !important;
    font-size: 1em;
    font-family: 'Recursive', sans-serif;
}

.nav-link:hover{
    color:#7A4FB1!important;
}

.container-carousel{
    padding-right: 2em;


}

h1{
    text-align: center;
    font-size: calc(0.7em + 0.7vw);
    font-weight: bolder;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

.box-texto{
    font-size: calc(0.6em + 0.6vw);
    color: whitesmoke;
    padding:1.5em;
    margin-left: 1.5em;
    font-family: 'Recursive', sans-serif;
}

.info-index{
    padding: 0em 5em;
    font-family: 'Recursive', sans-serif;
    text-align: center;
}

footer{
    text-align: center;
    padding: 1em;
    font-family: 'Recursive', sans-serif;
    color: whitesmoke ;
    background-color: rgba(121, 78, 177, 0.2);
}

.carousel{
margin: 1.5em;
}

.ubication-maps{
    padding: 2em;
   text-align: center;
   
}

.text-carousel{
    font-size: calc(1em + 1vw)!important;
    font-family: 'Recursive', sans-serif;
}

img{
    border-radius: 5px;
}

.info-maps{
    color: whitesmoke;
    font-size: calc(2em + 2vw);
    font-weight: bolder;
    text-align: center;
}

h2{
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;  
}

.text-ubication{
    color: whitesmoke;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
}

.container-form{
    
    color: #ffffff;
    margin-top: 4em;
}

.container-form p{
    font-size:calc(1.2em + 1.2vw); 
    padding: 0.5em;
    font-family: 'Recursive', sans-serif;
}

.form-contacto{
    align-content: center;
    padding: 2vw 10vh;
    font-family: 'Recursive', sans-serif;
}


iframe{
    border-radius: 5px;
}

.lastUnits{
 
    color: yellow;
    margin: 0em 2em;
    padding: 0.0em 0em;
    background-color: #c41914;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

.available-stock{
    background-color: white;
    padding: 1em;
}

.title-pharma{
    padding: 2em;
    font-size:calc(1.2em + 1.2vw); 
    font-family: 'Recursive', sans-serif;
  
}


.invalid-feedback{
    font-style: italic;
    font-family: 'Recursive', sans-serif;
}
.button-enviar{
    text-align: center;
}

.somos-home{
    margin-top: 4vh;
    padding: 1.5em;
}

.container-fluid p{
    color: whitesmoke;
}

.container-title{
    padding: 2em;
 
}

.textArea{
    resize: none;
}

.show_hide{
    font-size: small;
    text-align: center;
}

.description{
    font-size: smaller;
    padding: 0.2em;
    background-color: rgba(209, 198, 198, 0.1)!important;
    font-family: 'Recursive', sans-serif;
}

.menu-volver{
    text-align: center;
}

.flecha-gracias{
    width: 10em;
}

.fotos-perros img{
    width: 15em;
    text-align: center;
}

.fotos-perros{
    text-align: center;
}

.tarjeta-producto{
    background-color: rgba(246, 245, 247, 0.3)!important;
    width: 20em;
    margin-left: 3em;
    border-radius: 5px;
}

.contenido{
    text-align: center;
}

.title-producto{
    color: whitesmoke;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'Recursive', sans-serif;
}

.precio{
    color: rgb(82, 80, 80)!important;
    font-size: 1.5em;
    font-family: 'Recursive', sans-serif;
}

.dropdown-menu{
    background-color:
    rgba(121, 78, 177, 0.3)!important;
}

.dropdown-item:hover{
    background-color:
     rgba(121, 78, 177, 0.2)!important;
}

.contenido-home{
    margin-top: 2em;
}

.container-toys{
    margin-top: 3em;
}
